body {
  
  width: 300px;
  background-color: #F2E8C9;
  height: 500px;
  
  margin: 0px;

 flex-direction: column;
 
   display: flex;


  }

.container1 {
  
 
  height: 50px;
  width: 100%;
  font-size: 28px;
  
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center; 
  align-items: center;  
  border-bottom: solid 2px black; 

 
}
.container2 {
  
  border-bottom: solid 2px black; 
  height: 180px;
  width: 100%;
  
  
  margin: 0px;
  padding: 0px;
  display: flex;
 
  align-items: center;   
  flex-direction: column;
 


 
}

.info {
  font-size: 16px;

}

.settings {
  font-size: 20px;

}
.result {
  margin-top: 30px;
   justify-content: center; 
  align-items: center;  
  font-size: 18px; 

}

.container3{
   display: flex;
  align-items: center;   
  flex-direction: column;
  height: 30px;
  width: 100%;
  justify-content: center;

}
.container4{
   display: flex;
   
  flex-direction: column;
  height: 50px;
  width: 100%;

}


.list {
  display: flex;
  flex-direction: column;   /* stack rows vertically */
  gap: 12px;                /* space between rows */
}
.row {
  display: flex;
  align-items: center;      /* vertical alignment */
  justify-content: space-between; /* spread items */
  padding: 10px 14px;
  border-radius: 10px;
  background: #F2E8C9;
}
.logo {
  width: 28px;
  height: 28px;
}
.name {
  flex: 1;                 /* takes remaining space */
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
}
.switch {
  position: relative;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #4CAF50;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}



  button {
        width: 170px;
        height: 60px;
        position: relative;
        background: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
      }

      .top {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 238);
        font-family: "Inconsolata", monospace;
        font-size: 16px;
        color: rgb(36, 38, 34);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7mm;
        outline: 2px solid rgb(36, 38, 34);
        transition: 0.2s;
        position: relative;
        overflow: hidden;
      }
       .bottom {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(229, 229, 199);
        top: 10px;
        left: 0;
        border-radius: 7mm;
        outline: 2px solid rgb(36, 38, 34);
        z-index: -1;
      }
      
       .bottom::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 9px;
        background: rgb(36, 38, 34);
        bottom: 0;
        left: 15%;
      }

      .bottom::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 9px;
        background: rgb(36, 38, 34);
        bottom: 0;
        left: 85%;
      }

        button:active .top {
        transform: translateY(10px);
      }
      button::before {
        position: absolute;
        content: "";
        width: calc(100% + 2px);
        height: 100%;
        background: rgb(140, 140, 140);
        top: 14px;
        left: -1px;
        border-radius: 7mm;
        outline: 2px solid rgb(36, 38, 34);
        z-index: -1;
      }
      .top::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        transform: skewX(30deg);
        left: -20px;
        transition: 0.25s;
      }
      button:active .top::before {
        left: calc(100% + 20px);
      }
     


